{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SetiaMDN-BookSearcher</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body style="margin: 5%;">
        <form action="/registration/" method="post">
            <p style="font-size: 30px;">Registration</p></br>
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" name="username" class="form-control" id="username" style="width: 400px;">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" style="width: 400px;">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="password2" style="width: 400px;">
            </div>
            <button type="submit" class="btn btn-default">register</button>
            {{ confirm }}
            </br></br><p>Already have an account? Go to <a href="/login">login</a> page</p>
            <p><a href="/home">Home</a> page</p>
        </form>
        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
    </body>
</html>