:root {
    --font-color: black;
    --bg-color: white;
    --form-color: white;
}
[data-theme="dark"] {
    --font-color: white;
    --bg-color: black;
    --form-color: rgb(200, 200, 200);
}
.bodyC{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 1%;
}
form table tbody tr td textarea{
    background-color: var(--form-color);
}
#acc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#acc div, table{
    background-color: var(--bg-color);
    color: var(--font-color);
}
#acc h3{
    font-weight: 500;
}
.theme-switch-wrapper{
    font-weight: 500;
}
.theme-switch {
    margin-top: 3px;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}
.slider {
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.slider:before {
    background-color: #fff;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    content: "";
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(0, 183, 255);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 34px;
}